.App {
  display: flex;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.main-content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 20px;
  margin-top: 100px;
  background-color: #ecf0f1;
  overflow-y: auto;
}

.header {
  background-color: #2c3e50;
  color: white;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.header-title {
  flex: 1;
  padding: 0px 20px 0px 10px;
  white-space: nowrap;
}

.toggle-button {
  background-color: #2c3e50;
  padding: 0px 10px 0px 20px;
  color: #fff;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

/* Sidebar Styles */
.sidebardiv {
  background-color: #2c3e50;
}
.sidebar {
  width: 100%;
  width: 200px;
  margin-top: 100px;
  padding-top: 10px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  background-color: #2c3e50;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar li:hover {
  background-color: #34495e;
}
.image {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 10px;
  object-fit: cover;
}
/* Component Styles */
.BirdInfo,
.TrajectoryContainer,
.PredictionControlsContainer,
.ClimateDataContainer,
.emissionsChart,
.SDMContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  width: auto;
}

.BirdInfo,
.TrajectoryContainer {
  margin-top: 60px;
  margin-bottom: 20px;
}

.TrajectoryContainer {
  padding: 20px;
}
.TrajectoryHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.TrajectoryMap {
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  height: 550px;
  z-index: 0;
}

.PredictionControlsContainer {
  display: grid;
  grid-column: span 2;
  grid-row: span 1;
  width: auto;
  overflow: hidden;
}
.PredictionControlsHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.PredictionControlsHeader h2 {
  width: 40%;
}
.PredictionControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.PredictionControls .slider {
  width: 100%;
  margin: 10px 0;
}
.PredictionControls .slider-label {
  font-size: 18px;
}
.PredictionControls ul {
  padding: 0;
}

.year_input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px 5px 0px 5px;
  border-radius: 20px;
  background-color: #dbd8d8;
  border: none;
  text-align: center;
}
.year_input:focus {
  outline-color: #949292;
}

.PredictionControls button,
.ClimateDataContainer button {
  padding: 8px 16px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 20px;
  margin: 0px 5px 5px 5px;
  cursor: pointer;
}

.PredictionControls button:hover {
  background-color: #2980b9;
}

.ButtonExit {
  background-color: transparent;
  color: #949292;
  font-size: 16px;
}
.ButtonExit:hover {
  background-color: transparent;
}
.PredictionControlModal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-content {
  z-index: 1500;
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  max-height: 75vh;
  overflow-y: auto;
}

.popup-content p {
  margin: 0px 10px;
  line-height: 1.5;
}

.popup-overlay {
  z-index: 1400;
  margin-top: 100px;
}
.emissionsChart-iframe {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  border: none;
}

.emissionsChart-logoContainer {
  display: block;
  height: 22px;
  max-width: 800px;
}

.emissionsChart-logo {
  width: 22px;
  height: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
  float: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.PredictionControlsBody {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-top: 10px;
  width: auto;
}

.ButtonInfo,
.ClimateChart .ButtonInfo,
.PredictionControls .ButtonInfo {
  padding: 3px 6px;
  background-color: #dbd8d8;
  color: white;
  border-radius: 50px;
  margin: 0px 2px 2px 5px;
  cursor: pointer;
  outline: none;
  font-size: 12px;
}
.ButtonInfo:hover,
.ClimateChart .ButtonInfo:hover,
.PredictionControls .ButtonInfo:hover {
  background-color: #949292;
}
.ClimateChart,
.SDMChart {
  width: 90%;
  height: 100%;
  border-radius: 8px;
}
.SDM {
  display: flex;
  flex-direction: row;
}
.legend {
  width: 10%;
  height: 10%;
}

/* Tabs styling */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.tab {
  padding: 8px 16px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.tab:hover {
  background-color: #2980b9;
}

.tab.active {
  background-color: #2574a8;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #2980b9;
}

@media (max-width: 850px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 20px;
  }

  .BirdInfo,
  .TrajectoryContainer,
  .SDMContainer,
  .ClimateDataContainer,
  .PredictionControlsContainer,
  .PredictionControlsBody {
    grid-column: 1;
  }

  .BirdInfo {
    grid-row: 1;
  }

  .TrajectoryContainer {
    grid-row: 2;
  }

  .PredictionControlsContainer {
    grid-row: 3;
    overflow: visible;
  }

  .PredictionControlsHeader {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  .PredictionControlModal {
    margin-top: 10px;
  }
  .PredictionControlsBody {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
}
