/* App.css */

.App {
    display: flex;
    min-height: 100vh; /* Full viewport height */
    font-family: 'Roboto', sans-serif;
  }
  
  .main-content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 1fr 1fr; /* Two rows */
    gap: 20px; /* Space between grid items */
    padding: 20px;
    background-color: #ecf0f1;
    overflow-y: auto; /* Enable scroll if content overflows */
  }
  
  /* Styling for individual content components */
  .BirdInfo, .SDMChart, .MigrationMap, .EnvironmentalControls {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: auto; /* Auto width based on the content */
  }
  
  .BirdInfo, .MigrationMap, .EnvironmentalControls, .SDMChart {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%; /* Adapt this value as needed */
  }

  
  .sidebar {
    flex: 0 0 200px; /* Sidebar width */
    background-color: #2c3e50; /* Sidebar background color */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum height of the viewport */
    overflow-y: auto; /* Allow scrolling within the sidebar if content overflows */
  }  

  .sidebar li:hover {
    background-color: #34495e;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #2c3e50;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #2c3e50;
    flex: 1; /* Distribute space evenly amongst the links */
    display: flex;
    align-items: center; /* Center link text vertically */
    justify-content: center; /* Center link text horizontally */
  }
  
  /* Continued in App.css */

  .BirdInfo {
    grid-column: 1 / 2; /* Column 1 */
    grid-row: 1 / 2; /* Row 1 */
  }
  
  .EnvironmentalControls {
    grid-column: 1 / 2; /* Column 1 */
    grid-row: 2 / 3; /* Row 2 */
  }
  
  .MigrationMap {
    grid-column: 2 / 3; /* Column 2 */
    grid-row: 1 / 2; /* Row 1 */
  }
  
  .SDMChart {
    grid-column: 2 / 3; /* Column 2 */
    grid-row: 2 / 3; /* Row 2 */
  }
  
  /* Continued in App.css */

  .BirdInfo, .SDMChart, .MigrationMap, .EnvironmentalControls {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%; /* Take full width of the grid column */
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .main-content {
      grid-template-columns: 1fr; /* Single column layout on small screens */
      grid-template-rows: auto auto auto auto; /* Adjust rows for stacking */
    }
  
    .BirdInfo, .EnvironmentalControls, .MigrationMap, .SDMChart {
      grid-column: 1;
    }
    .sidebar {
        flex: 0 0 150px; /* Smaller width for smaller screens */
    }

    .BirdInfo { grid-row: 1; }
    .MigrationMap { grid-row: 2; }
    .EnvironmentalControls { grid-row: 3; }
    .SDMChart { grid-row: 4; }
  }

  @media (max-width: 500px) {
    .sidebar {
      flex: 0 0 120px; /* Even smaller width or full-width if needed */
    }
  }